.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
}

.board-main-container {
  height: calc(100% - 125px);
  width: calc(100% - 75px);
  padding: 20px 25px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 450px;
}

.search-bar-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-bar-button:hover {
  background-color: #0056b3;
}

.table-header {
  text-align: left;
  background-color: #f8f9fa;
  padding: 12px;
  border-top: 1px solid #00000050;
  border-bottom: 1px solid #00000050;
}
.table-header-center {
  text-align: center;
  background-color: #f8f9fa;
  padding: 12px;
  border-top: 1px solid #00000050;
  border-bottom: 1px solid #00000050;
}
.table-row {
  text-align: left;
  padding: 12px;
  border-top: 1px solid #00000050;
  border-bottom: 1px solid #00000050;
  cursor: pointer;
}
.table-row-center {
  text-align: center;
  padding: 12px;
  border-top: 1px solid #00000050;
  border-bottom: 1px solid #00000050;
  cursor: pointer;
}

.article-main-container {
  height: calc(100% - 175px);
  width: calc(100% - 115px);
  padding: 45px 45px;
}
.article-title {
  display: flex;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  margin: 24px 0;
}
.article-writer {
  display: flex;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}
.article-createdDate {
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 16px;
  border-bottom: 2px solid #00000050;
}
.article-content {
  display: flex;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
